$nav-background: #323232;
$primary-background: #fff;
$secondary-background: #E1E1E1;
$primary-text: #323232;
$secondary-text: #AFAFAF;
$light-text: #FFF;
$cta-hover: #000000;
$cta-text: #AFAFAF;
$cta-active-text: #FFF;
$divider: #E1E1E1;


