@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
body {
  box-sizing: border-box;
  font-family: "Avenir";
  margin: 0;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  color: #AFAFAF;
  height: 80vw;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    height: 70vw;
  }
}
.nav__title {
  color: #FFF;
  padding-top: 0.5rem;
  font-size: 1.8em;
  line-height: 2rem;
  font-weight: 500;
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__title {
    margin: 1rem 3rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__title {
    margin: 1rem 6rem;
    margin-right: 4rem;
  }
}
.nav__pages {
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__pages {
    width: 20%;
    align-self: flex-end;
  }
}
.nav__click-holder {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}
.nav__clickable {
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.625rem;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .nav__clickable {
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.nav__clickable--active {
  color: #FFF;
  justify-self: center;
  font-weight: 700;
  border-bottom: 0.35rem solid white;
}

.hero {
  width: 100%;
  height: 95%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 95%;
  }
}
.hero__band-name {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 1rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__band-name {
    font-size: 3.75rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__band-name {
    padding-left: 6rem;
  }
}
.hero--background {
  top: 0;
  left: 0;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.5);
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center right;
}

.about {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .about {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
.about__header--small {
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__header--small {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}
.about__header--large {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .about__header--large {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
  }
}
.about__image {
  align-self: center;
  width: 90%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 90vw;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    width: 75vw;
  }
}
.about__quote {
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 550;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.about__quote--author {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .about__quote--author {
    font-size: 1rem;
  }
}
.about__article {
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .about__article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 45%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FAFAFA;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.gallery__header {
  margin: 1rem 1rem;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .gallery__header {
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__header {
    padding-left: 3rem;
  }
}
.gallery__image {
  width: 93%;
  margin: 1rem 0.5rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 29%;
  }
}

.footer {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-social {
    flex-direction: row;
  }
}
.footer-social__header {
  margin: 1rem 0;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .footer-social__header {
    width: 18rem;
    font-size: 2.6rem;
  }
}
.footer-social__icon {
  height: 2rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .footer-social__icon {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .footer-info__holder {
    align-content: space-between;
    width: 28%;
    margin: 1rem;
  }
}
.footer-info__text {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .footer-info__text {
    font-size: 0.8rem;
  }
}
.footer-info__text--bold {
  font-weight: 700;
}
.footer-info__contact {
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-copyright {
  margin-top: 0;
  font-size: 0.8rem;
}

.footer-title {
  margin-top: 4rem;
  width: 8.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer-title {
    position: absolute;
    left: 75%;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */