// @use "./partials/mixins" as *;
@use "./partials/variables" as *;


@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
    font-family: 'Avenir'; 
    margin: 0;
    
}

// nav nav__title nav__pages nav__click-holder nav__clickable
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $nav-background;
    color: $secondary-text;
    height: 100vw;

    &__title {
        font-size: 1.5em;
        line-height: 2rem;
        font-weight: 500;
        margin: 0.5rem;
    }

    &__pages {
        justify-content: space-between;
        width: 100%;
    }

    &__click-holder {
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        list-style-type: none;
    
    }



    &__clickable {
        width: 100%;
        text-align: center;
        padding: 0.2rem;
        &--active {
            justify-self: center;
            border-bottom: 0.2rem solid white;
            
        }
    }
}

//hero hero--background hero__band-name
.hero {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    &__band-name {
 
        padding-left: 1rem;
        color: white;
    }
    &--background {
        top: 0;
        left: 0;
        opacity: 0.5;
        background-image: url("../assets/Images/hero-bio.jpg");
        background-size:cover;
        background-position: bottom right;
    }
}
//main-content

//about about__header--main about__image about__quote about__article
//about__header--small

//gallery gallery__image gallery__header

//footer footer-social footer-social__header footer-social__icon

//footer-info footer-info__text footer-info__contact footer-info__text--bold

//footer-copyright footer-title