// @use "./partials/mixins" as *;
@use "./partials/variables" as *;


@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
    box-sizing: border-box;
    font-family: 'Avenir'; 
    margin: 0;
    
}

a {
    text-decoration: none;
}

// nav nav__title nav__pages nav__click-holder nav__clickable
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $nav-background;
    color: $secondary-text;
    height: 80vw;

    &__title {
        color: $cta-active-text;
        padding-top: 0.5rem;
        font-size: 1.8em;
        line-height: 2rem;
        font-weight: 500;
        margin: 0.5rem;
    }

    &__pages {
        justify-content: space-between;
        width: 100%;
    }

    &__click-holder {
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        list-style-type: none;
    
    }



    &__clickable {
        width: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 0.625rem;
        padding-top: 0;
        &--active {
            color: $cta-active-text;
            justify-self: center;
            font-weight: 700;
            border-bottom: 0.35rem solid white;
            
        }
    }
}

//hero hero--background hero__band-name
.hero {
    width: 100%;
    height: 95%;
    flex-grow: 1;
    display: flex;
    align-items: center;

    &__band-name {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        color: white;
    }
    &--background {
        background-blend-mode: darken;
        background-color: rgba(50, 50, 50, 0.5);
        background-image:url("../assets/Images/hero-bio.jpg");
        background-size:cover;
        background-position: center right;
    }
}
//main-content

//about about__header--main about__image about__quote about__article
//about__header--small
.about {
    display: flex;
    flex-direction: column;

    &__header {
        
        
        &--small {
            font-size: 1rem;
            font-weight: 700;
        }

        &--large {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            margin-left: 1rem;
            font-weight: 600;
            font-size: 2rem;
        }
    }

    &__image {
        width: 90%;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    &__quote {
        font-size: 1.1rem;
        line-height: 2;
        font-weight: 550;
        margin-right: 1rem;
        margin-left: 1rem;

        &--author {
            margin-top: 0;
        }
    }

    &__article {
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.5;
    }

    
}

//gallery gallery__image gallery__header

.gallery {
    
    &__header {
        margin: 1rem 1rem;
    }
    &__image {
        width: 90%;
        margin: 1rem 1rem;
        margin-top: 0;
        
    }
}

//footer footer-social footer-social__header footer-social__icon
.footer {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: $nav-background;
    color: #FAFAFA;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;

    &__header {
        margin: 1rem 0;
        width: 100%;
        font-weight: 600;
        font-size: 2rem; 
    }

    &__icon {
        height: 2rem;
        margin-right: 2rem;
    }
}
//footer-info footer-info__text footer-info__contact footer-info__text--bold
.footer-info {
     
    &__text {
        margin-bottom: 1rem;
        line-height: 1.3;
        font-weight: 400;
        font-size: 1rem;

        &--bold {
            font-weight: 700;
        }
    }

    &__contact {
        font-size: 0.9rem;
        font-weight: 300;
    }


}
//footer-copyright footer-title

.footer-copyright {
    margin-top: 0;
    font-size: 0.8rem;
}

.footer-title {
    margin-top: 4rem;
    width: 8.5rem;
    margin-bottom: 1rem;
}