@use "./partials/mixins" as *;
@use "./partials/variables" as *;


@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
    box-sizing: border-box;
    font-family: 'Avenir'; 
    margin: 0;
    
}

a {
    text-decoration: none;
    color: white;
}

textarea {
    resize: none;
}
// nav nav__title nav__pages nav__click-holder nav__clickable
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $nav-background;
    color: $secondary-text;
    height: 80vw;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        height: 70vw;
    }

    &__title {
        color: $cta-active-text;
        padding-top: 0.5rem;
        margin: 0.5rem;

        @include tablet {
            margin: 1rem 3rem;
            margin-right: 5rem;
        }

        @include desktop {
            margin: 1rem 6rem;
            margin-right: 4rem;
        }
    }

    &__pages {
        justify-content: space-between;
        width: 100%;

        @include tablet {
            width: 20%;
            align-self: flex-end;
        }
    }

    &__click-holder {
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        list-style-type: none;
    }



    &__clickable {
        width: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 0.625rem;
        padding-top: 0;

        @include tablet {
            padding-bottom: 1rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        &--active {
            color: $cta-active-text;
            justify-self: center;
            font-weight: 700;
            border-bottom: 0.35rem solid white;
        }
    }
}

//hero hero--background hero__band-name
.hero {
    width: 100%;
    height: 95%;
    flex-grow: 1;
    display: flex;
    align-items: center;

    @include tablet {
        height: 95%;
    }

    &__band-name {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        color: white;

        @include tablet {
            font-size: 3.75rem;
            padding-left: 2rem;
        }

        @include desktop {
            padding-left: 6rem;
        }
    }
    &--background {
        top: 0;
        left: 0;
        background-blend-mode: darken;
        background-color: rgba(50, 50, 50, 0.5);
        background-image:url("../assets/Images/hero-bio.jpg");
        background-size:cover;
        background-position: center right;
    }
}
//main-content

//about about__header--main about__image about__quote about__article
//about__header--small
.about {
    display: flex;
    flex-direction: column;
    
    @include desktop {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    &__header {
        
        
        &--small {
            font-size: 1rem;
            font-weight: 700;

            @include tablet {
                width: 100%;
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-left: 1rem;
            }
        }

        &--large {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            margin-left: 1rem;
            font-weight: 600;
            font-size: 2rem;

            @include tablet {
                margin-top: 3rem;
                margin-bottom: 2rem;
                margin-left: 1.5rem;
            }
        }
    }

    &__image {
        align-self: center;
        width: 90%;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;

        @include tablet {
            width: 90vw;
            margin-left: 3rem;
            margin-right: 3rem;
        }

        @include desktop {
            width: 75vw;
        }
    }

    &__quote {
        font-size: 1.1rem;
        line-height: 2;
        font-weight: 550;
        margin-right: 1rem;
        margin-left: 1rem;

        @include tablet {
            font-size: 1.5rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }

        &--author {
            margin-top: 0;

            @include tablet {
                font-size: 1rem;
            }
        }
    }

    &__article {
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.5;

        @include tablet {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 2rem;
            margin-right: 2rem
        }
    }

    &__text {

        @include tablet {
        width: 45%;
        padding-right: 1rem;
        padding-left: 1rem;
        }
    }

    
}

//gallery gallery__image gallery__header

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FAFAFA;    
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    @include desktop {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__header {
        margin: 1rem 1rem;
        align-self: flex-start;

        @include tablet {
            width: 100%;
            padding-top: 2rem;
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        @include desktop {
            padding-left: 3rem;
        }
    }
    &__image {
        width: 93%;
        margin: 1rem 0.5rem;
        margin-top: 0;

        @include tablet {
            width: 29%;
        }
        
    }
}

//comment section
.comment {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;

    @include tablet {
        margin: 3rem;
    }

    @include desktop {
        margin: 10rem;
    }

    &__header {
        margin-left: 0rem;
    }

    &__avatar {
        vertical-align: middle;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-right: 1rem;
        margin-top: 2.5rem;
    }

    &__avatar-loaded {
        vertical-align: middle;
        width: 2.25rem;
        height: 2.25rem;
        margin-top: 1rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-color: $secondary-background;
    }

    &__holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        border-bottom: 1px solid $divider;
        margin-left: 1rem;
    }

    &__name {
        font-size: 1rem;
    }

    &__text {
        margin-top: 0;
        margin-left: 3rem;
    }

    &__date {
        color: $secondary-text;
        justify-self: flex-end;
        font-size: 1rem;
        font-weight: 300;
        margin-left: auto;
    }
}

.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $divider;

    &__label {
        font-size: 0.5rem;
        display: block;
        margin: 0;
        margin-bottom: 4px;
        margin-top: 1rem;
        color: $secondary-text;
    }

    &__name-area {
        width: 100%;
        border: 1px solid $divider;
        border-radius: 4px;
        
        &:focus{
            outline: 1px solid #323232;
        }

        // &:required {
        //     outline: 1px solid #D22D2D;
        // }
    }

    &__comment-area {
        font-family: 'Avenir';
        width: 100%;
        height: 5rem;
        border: 1px solid $divider;
        border-radius: 4px;

        &:focus{
            outline: 1px solid #323232;
        }

        // &:required{
        //     outline: 1px solid #d22d2d;
        // }
    }

    &__button {
        font-family: 'Avenir';
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0;
        height: 40px;
        background-color: $nav-background;
        color: $light-text;
        border: none;
        border-radius: 4px;
        width: 102%;

        &:hover{
            background-color: #000000;
        }
    }

    &__holder {
        width: 70%;
    }
}

//footer footer-social footer-social__header footer-social__icon
.footer {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: $nav-background;
    color: #FAFAFA;

    @include tablet {
        padding: 2rem;
        // flex-wrap: wrap;
    }
}

.footer-social {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        flex-direction: row;
    }

    &__header {
        margin: 1rem 0;
        width: 100%;
        font-weight: 600;
        font-size: 2rem; 

        @include tablet {
            width: 18rem;
            font-size: 2.6rem;
        }
    }

    &__icon {
        height: 2rem;
        margin-right: 2rem;

        @include tablet {
            margin-top: 1.5rem;
        }
    }
}
//footer-info footer-info__text footer-info__contact footer-info__text--bold
.footer-info {
     
    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 12%;
    }

    @include desktop {
        margin-right: 20%;
    }

    &__holder {
        @include tablet {
            align-content: space-between;
            width: 28%;
            margin: 1rem;
        }
    }
    &__text {
        margin-bottom: 1rem;
        line-height: 1.3;
        font-weight: 400;
        font-size: 1rem;

        @include tablet {
            font-size: 0.8rem;
        }

        &--bold {
            font-weight: 700;
        }
    }

    &__contact {
        font-size: 0.9rem;
        font-weight: 300;
    }


}
//footer-copyright footer-title

.footer-copyright {
    margin-top: 0;
    font-size: 0.8rem;
}

.footer-title {
    margin-top: 4rem;
    width: 8.5rem;
    margin-bottom: 1rem;

    @include tablet {
        position: absolute;
        left: 75%;
        margin-top: 2rem;
    }
}