@use "./partials/mixins" as *;
@use "./partials/variables" as *;


@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
    box-sizing: border-box;
    font-family: 'Avenir'; 
    margin: 0;
    
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 90%;
}
//nav stuff
@include nav;

.nav {
    height: fit-content;
}
//footer stuff
@include footer;
.hero {
    width: 100%;
    height: 95%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    @include tablet {
        height: 95%;
    }

    &__album-name {
        margin-top: 2rem;
        color: $secondary-text;
        font-size: 1rem;
        padding-left: 1rem;
    }
    &__band-name {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
        color: white;

        @include tablet {
            font-size: 3.75rem;
            padding-left: 2rem;
        }

        @include desktop {
            padding-left: 6rem;
        }
    }
    &--background {
        top: 0;
        left: 0;
        background-blend-mode: darken;
        background-color: rgba(50, 50, 50, 0.5);
        background-image:url("../assets/Images/hero-shows.jpg");
        background-size:cover;
        background-position: center right;
    }
}

.shows {
    margin-bottom: 1rem;
    margin-top: 1rem;
    &__header{
        font-size: 2rem;
        margin-left: 1rem;
    }

    &__columns{
        display: flex;
        flex-direction: row;
    }

    &__info {
        display: none;
        font-size: 1rem;
        color: $secondary-text;
        margin-left: 8%;
        margin-right: 8%;
        
        @include tablet {
            display: initial;
        }
    }
}

.shows-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid $divider;

    &:hover {
        background-color: #FAFAFA;
    }

    &:active {
        background-color: #E1E1E1;
    }

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        font-size: 0.5rem;
        color: $secondary-text;

        @include tablet {
            display: none;
        }
    }

    &__date {
        font-size: 1rem;
        margin: 0;
    }

    &__text {
        margin: 0;
    }

    &__button {
        align-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0;
        height: 40px;
        background-color: $nav-background;
        color: $light-text;
        border: none;
        border-radius: 4px;
        width: 100%;

        &:hover {
            background-color: #000000;
        }

        @include tablet {
            align-self: unset;
            width: 10rem;
        }
    }
}
